<header>
	<div class="container">
		<a href="{{path('main_index')}}">
			<span id="logo"><i class="fa-solid fa-movie"></i> MovieLib</span>
		</a>

		<nav>
			<ul id="navBar">
				<li><a href="{{path('main_index')}}">Accueil</a></li>
				<li><a href="{{path('film_list')}}">Films</a></li>
				<li><a href="{{path('people_list')}}">Intervenants</a></li>
				<li><a href="{{path('people_form')}}">Ajouter un intervenant</a></li>
				<li><a href="{{path('film_form')}}">Ajouter un film</a></li>
			</ul>
		</nav>
	</div>
</header>